[submodule "lib/TwitterWP"]
	path = lib/TwitterWP
	url = https://github.com/jtsternberg/TwitterWP.git
[submodule "lib/TwitterText"]
	path = lib/TwitterText
	url = https://github.com/mzsanford/twitter-text-php.git
